body{
background-color:BlanchedAlmond;}

h1{
font-family:Time Roman;
font-size: 200%;
text-align: center;
color:Brown;}

h3{
font-family:Time Roman;
font-size: 100%;
text-align: left;
color:Brown;}

h2{
font-family:Time Roman;
font-size: 200%;
text-align: center;
color:Brown;}

p{
font-family:Time Roman;
font-size: 100%;
text-align: center;
color:Brown;}

